<% content_for :head do %>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="nini-store,nini,store,nini store,nini online shop,nini bags,nini shoes,nini cosmetics,nini perfume,nini parfum,belanja online murah,grade ori,tas tangan,kosmetik,sepatu,sandal,murah berkualitas" />
<meta name="description" content="www.nini-store.com, menjual tas, kosmetik, parfum, sepatu, jam tangan dll. dijamin kemurahan, kualitas dan kejujurannya." />
<!--<meta name='subject' content='your websites subject'>-->
<meta name='copyright' content='nini-store'>
<meta name="author" content="kendysusantho16@gmail.com">
<meta name="language" content="indonesia" />
<meta name="organization" content="nini-store" />
<meta name="audience" content="Viewer of nini-store" />
<meta name="robots" content="index,follow" />
<meta name="revisit-after" content="1 days" />
<meta name="classification" content="Indonesia, online shop, tas, parfum, kosmetik" />
<meta name="rating" content="general" />
<% end %>

<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <tr>
      <td colspan='5'>
        <%= render article.comments %>
      </td>
    </td>
  <% end %>
</table>